
@keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.fadeIn {
    animation: fadeInFromNone 1s ease-in-out;
}

.fadeOut {
    opacity: 0;
    animation: fadeOut 1s ease-out;
}