/* Contact */

#status-message {
    margin-top: 35px;
}

.icons {
    span {
        border-radius: 100%;
        box-shadow: inset 0 0 0 _size(border-width) _palette(border);
        display: inline-block;
        height: 2.25rem;
        line-height: 2.25rem;
        text-align: center;
        width: 2.25rem;

        &:hover {
            background-color: _palette(border-bg);
        }

        &:active {
            background-color: _palette(border-bg-alt);
        }
    }

    button{
        box-shadow: none;
    }
}