/* InfoModal */

$margin-modal: 15px;


.modal-info {

    .info-image,
    .info-video {
        overflow-x: hidden;
        max-width: 100%;
        height: 275px;
        margin: $margin-modal auto;

        figure,
        img {
           background-position: center;
           background-size: contain;
        }
    }

    .info-score {
        overflow-x: hidden;
        max-width: 100%;

        img{
            width: 100%;
        }
    }

    .info-video {
        display: flex;
        justify-content: center;
    }

    .info-tools {
        margin-bottom: $margin-modal;
    }

    .info-action {
        display: flex;
        justify-content: flex-end;

        a {
            padding: 10px;
            border: none;
        }
    }

    @include breakpoint(medium) {        
        .info-video {
            display: none;
        }
    }
}