.intro-modal {
    height: 70vh;
    width: 100%;
    overflow-y: scroll;

    .game{
        height: 200px;
        width: 100%;
    }

    .full-history {
        display: flex;
        justify-content: flex-end;
        margin: 20px 0;
    }

    .schedule-container {
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    ul.main {
        list-style: none;
        max-width: 100%;
        // margin: 20px auto;
    }

    .date {
        width: 20%;
        padding: 7% 1% 0 0;
        float: left;
    }


    .events {
        float: left;
        width: 80%;
        border-left: 1px solid #ccc;
        margin-top: 3%;
        padding-top: 3%;
    }

    .job-description {
        padding-top: 15px;
        // padding-right: 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: justify;
    }

    .event-logo {
        padding: 25px 25px 15px 15px;
        min-width: 110px;
    }

    .event-box {
        display: flex;
        justify-content: flex-end;
    }

    .events-detail {
        max-width: 400px;
        position: relative;
    }


    .events-detail li {
        padding: 10px;
        line-height: 22px;
        transition: ease 0.4s all;
        list-style: none;
    }

    .event-info {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .events-detail li:hover {
        background: rgba(0, 0, 0, 0.5);
    }

    @media all and (max-width: 641px) {
        .date {
            width: 100%;
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
        }

        .events {
            border: none;
            width: 100%;
            margin-top: 0;
        }

        .events-detail {
            padding: 0;
        }

    }
}