.intro-modal {
    height: 70vh;
    overflow-y: scroll;

    .schedule-container {
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    ul.main {
        list-style: none;
        max-width: 75%;
        // margin: 20px auto;
    }

    h3 {
        padding: 0;
        margin: 0;
    }

    .date {
        width: 17%;
        padding: 7% 1% 0 0;
        float: left;
    }

    .date h3 {
        font-size: 1.5em;
    }

    .date p {
        font-size: 0.8em;
    }

    .events {
        float: left;
        width: 80%;
        border-left: 1px solid #ccc;
        margin-top: 3%;
        padding-top: 3%;
    }


    .event-logo {
        padding: 10px;
    }

    .event-box {
        display: flex;
        justify-content: flex-end;
    }

    .events-detail {
        max-width: 400px;
        position: relative;
    }


    .events-detail li {
        padding: 10px;
        border-bottom: 1px dashed black;
        line-height: 22px;
        transition: ease 0.4s all;
        list-style: none;
    }

    .events-detail li.denied {
        background: #FF686B;
    }

    .events-detail li.confirm {
        background: #86DEB7;
    }

    .event-info {
        width: 90%;
        display: flex;
        flex-direction: row;
    }

    .events-detail li:hover {
        background: #e9e9e9;
    }

    .event-time {
        font-weight: 900;
        padding: 10px;
    }

    .events-detail li a {
        text-decoration: none;
        color: #444;
        width: 100%;
        height: 100%;
        display: block;
    }

    .event-location {
        font-size: 0.8em;
        margin-left: 70px;
    }

    @media all and (max-width: 641px) {
        .date {
            width: 100%;
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
        }

        .events {
            border: none;
            width: 100%;
            margin-top: 0;
        }

        .events-detail {
            padding: 0;
        }

        li.date p {
            margin: 0;
        }
    }





}